#aboutBody{
    background-color: rgb(0, 0, 0);
}

.aboutTitle{
    font-size: 80px;
    font-weight: 700;
    color: white;
    padding-top: 40px;
    line-height: 80px;
    margin-bottom: 32px;
}

.aboutSubtitle{
    font-size: 20px;
    margin-top: -4px;
    line-height: normal !important;
}

.pref{
    display: flex;
    flex-direction: column;
    background-color: white;
    color: black;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 400px;
    border-radius: 40px;
    margin-top: 50px;
    transition: 1s all;
    transform: scaleX(0%);
    opacity: 0;
    padding: 16px;
    margin-left: 48px;
    margin-right: 48px;
}

.prefRow{
    margin-bottom: 48px;
}

.prefLink{
    text-decoration: none;
    color: #004cd0;
    transition: 1s all;
}

.prefLink:hover .prefLinkIcon{
    transform: rotate(360deg);
    font-size: 64px;
}

.prefLinkIcon{
    transform: rotate(0deg);
    font-size: 24px;
    display: block;
    transition: 0.5s all;
    margin: 0 auto;
    margin-top: 10px;
    max-width: 80px;
}

.comm{
    display: flex;
    flex-direction: column;
    background-color: white;
    color: black;
    justify-content: flex-start;
    border-radius: 40px;
    margin-top: 24px;
    transition: 1s all;
    padding: 40px;
    padding-top: 20px;
    opacity: 0;
    transform: scaleX(0);
    margin-left: 48px;
    margin-right: 48px;
    margin-bottom: 12px;
}

@media (min-width: 992px) and (max-width: 1250px) { 
    .comm{
        margin-left: 32px;
        margin-right: 32px;
        padding-left: 16px;
        padding-right: 16px;
    }
}

.commRow{
    margin-bottom: 32px;
}

.personName{
    font-weight: 800;
    text-align: right;
    font-size: 36px;
}

.personEmail{
    font-weight: 200;
    text-align: right;
    margin-top: -10px;
    margin-bottom: 20px;
}

@media (min-width: 975px) and (max-width: 1272px) { 

    .personName{
        font-size: 30px;
    }

    .personEmail{
        font-size: 11px;
    }
}

.personEmail i{
    padding-right: 10px;
}

.prefIcon{
    font-size: 500%;
}

.pref1{
    font-size: 200%;
    line-height: 32px;
    font-weight: 600;
}

.pref2{
    line-height: 16px;
    font-weight: 300;
    padding-top: 10px;
}

.aboutBox{
    margin-top: 30px;
    background-color: white;
    color: black;
    border-radius: 40px;
    padding: 60px;
    display: flex;
    flex-direction: row;
    transform: scaleY(0%);
    transition: 1s all;
    opacity: 0;
}

.commTitle{
    font-size: 48px;
    font-weight: 600;
    margin-bottom: 20px;
    margin-top: -20px;
    text-align: right;
}

.commForm{
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    margin-top: 60px;
    padding: 40px;
    background-color: white;
    border-radius: 80px;
}

.myInput{
    border-radius: 56px;
    border: 2px solid black;
    margin-bottom: 16px;
    outline: none;
    transition: 0.6s all;
    padding: 6px;
}

.myTextarea{
    border-radius: 10px;
    border: 2px solid black;
    margin-bottom: 16px;
    height: 200px;
    resize: none;
    outline: none;
    transition: 0.6s all;
    padding: 6px;
}

.myLabel{
    color: white;
    background-color: black;
    width: 160px;
    margin-left: 20px;
    text-align: center;
    border-radius: 40px 40px 0 0;
    transition: 0.6s all;
}

.myInput:focus{
    border: 2px solid red;
    padding: 12px;
    border-radius: 0;
}

.myTextarea:focus{
    border: 2px solid red;
    padding: 12px;
    border-radius: 0;
}

.myInput:focus + .myLabel{
    background-color: red;
    border-radius: 0;
}

.myTextarea:focus + .myLabel{
    background-color: red;
    border-radius: 0;
 }

.addCommRow{
    background-color: black;
    padding-bottom: 40px;
    display: none;
}

.activeCommRow{
    display: flex;
}

.myButton{
    width: 240px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 12px;
    background-color: red;
    color: white;
    border: 0;
    padding: 16px;
    border-radius: 80px 20px 80px 20px;
    transition: 0.4s all;
}

.myButton:hover{
    background-color: white;
    box-shadow: 0 0 10px red;
    color: black;
}

.commForm i{
    color: red;
    font-size: 36px;
    position: absolute;
    cursor: pointer;
    margin-top: -12px;
}


.sendComm{
    background-color: red;
    color: white;
    display: block;
    text-decoration: none;
    text-align: center;
    font-size: 36px;
    margin-top: 16px;
    margin-bottom: 100px;
    border-radius: 90px;
    transition: 0.8s all;
    font-weight: 300;
    opacity: 0;
    transform: scaleX(0);
    cursor: pointer;
}

.sendComm:hover{
    background-color: white;
    color: black;
    border-radius: 0;
}

.activePref{
    transform: scaleX(100%);
    opacity: 1;
}

.activeBox{
    transform: scaleY(100%);
    opacity: 1;
}

.footerRow{
    background-color: white;
    margin-top: 120px;
}

.footerBox{
    flex-direction: row;
    display: flex;
    padding: 40px;
}

@media (max-width: 991.98px) { 
    .pref{
        margin: 26px;
    }
    .comm{
        margin: 26px;
    }
    .aboutBox{
        margin: 26px;
    }
    .sendComm{
        margin: 26px;
        margin-bottom: 100px;
    }
    .prefRow{
        margin-bottom: 0px;
    }
    .commRow{
        margin-bottom: 0px;
    }
}

@media (max-width: 600px){
    .aboutTitle{
        font-size: 60px;
        padding-left: 24px;
    }
    
    .aboutSubtitle{
        font-size: 14px;
        margin-top: -10px;
        padding-left: 4px;
        line-height: normal !important;
    }
}

@media (max-width: 450px){
    .aboutTitle{
        font-size: 40px;
        line-height: 52px;
    }
    .aboutBox{
        padding: 26px;
        margin: 8px;
    }
    .myButton{
        width: 180px;
    }
}
