.info{
    display: flex;
    flex-direction: row;
    background-color: white;
    color: black;
    justify-content: center;
    align-items: center;
    border-radius: 40px;
    margin-top: 50px;
    transition: 1s all;
    transform: scaleX(0%);
    opacity: 0;
    padding-left: 60px;
    padding-right: 60px;
    margin-bottom: 100px;
}

.footerRow{
    background-color: white;
    margin-top: 140px;
}

.infoBlock{
    padding: 40px;
    padding-right: 0;
    font-weight: 400;
    font-size: 18px;
}

@keyframes mtrans{
    0%{
        color: black;
    }
    50%{
        color: red;
    }
    100%{
        color: black;
    }
}

.info i{
    font-size: 160px;
    animation: mtrans 10s infinite linear;
}

.activePref{
    transform: scaleX(100%);
    opacity: 1;
}

.activeBox{
    transform: scaleY(100%);
    opacity: 1;
}

#aboutBody{
    background-color: black;
}

.aboutTitle{
    font-size: 80px;
    font-weight: 700;
    color: white;
    padding-top: 20px;
    padding-left: 36px;
}

.infoBlock ul li{
    margin-top: 10px;
}

@media (max-width: 991.98px) { 
    .info{
        margin: 24px;
        padding-left: 24px;
        padding-right: 24px;
    }
    .infoBlock ul{
        padding: 0;
    }
}

@media (max-width: 600px){
    .aboutTitle{
        font-size: 60px;
        padding-left: 24px;
    }
}

@media (max-width: 450px){
    .aboutTitle{
        font-size: 40px;
        line-height: 52px;
    }
}